.c-button {
    background-color: var(--c-button-background-color);
    border-radius: .4rem;
    color: var(--c-button-color);
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0rem 2rem;
    text-decoration: none;
    text-align: center;
    
    display: block;
    width: 18rem;
    line-height: 4.1rem;
}

.c-button:hover {
    background-color: #F1B43C;
    color: #000;
}

.c-pizza .c-button {
    background-color: var(--c-button-background-color);
    color: #FFF;
    
    margin-top: -0.5rem;
    border-radius: 0rem 0rem 0.4rem 0.4rem;
    width: 100%;
}

.c-pizza .c-button:hover {
    background-color: #F1B43C;
    color: #000;
}

