.c-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0rem;

    width: 100%;
}

.c-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    margin-top: 7rem;
    width: 30rem;
}

.c-card__link {
    border-radius: 0.7rem;
    background-color: #AE0200;
    color: #FFF;

    padding: 1.4rem;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;

    display: block;  
    width: 100%;
}

.c-card__link:hover {
    background-color: var(--c-hours-info-background-color);
    color: var(--text-primary-color);
}

.c-mapa {
    border-radius: 0.7rem;
    margin-top: 7rem;
    box-shadow: 0rem 0rem 4rem rgba(255, 255, 255, 0.4);

    width: 90%;
    max-width: 90rem;
}

@media screen and (min-width: 768px) {

    .c-card-wrapper {
        gap: 5rem;
    }

    .c-card {
        flex-direction: row;
        width: 35rem;
    }


    .c-mapa {
        height: 42rem;
    }
}